<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="card mx-auto" style="max-width: 30rem">
            <div class="card-body">
                <form ngNativeValidate (ngSubmit)="postTweet()">
                    <div class="form-group">
                        <h3 class="text-blue">Hi, <b>{{name}} </b>
                        </h3>
                        <textarea name="tweetText" id="tweetText"
                            [(ngModel)]="tweetText" required
                            class="form-control"
                            rows="2" placeholder="Make A Tweet"></textarea>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary"
                            style="background-color: green; padding: auto;
                            margin-top: 5px;">Post Tweet</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
<h1>
    My Tweets
</h1>
<app-my-tweets></app-my-tweets>
</div>
