<div class="container">
    <div *ngFor="let user of get.data">
        <div class="card border-secondary mb-3 my-auto mx-auto"
            style="max-width: 30rem;margin-top: 10em;">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8" >
                           <small *ngIf="tweetExist"> {{message}}</small>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">on {{user.created |
                                date:'medium'}}</h5>
                        </div>
                        <div class="col-4 ml-auto">
                            <img
                                src="../../../assets/images/delete.png"
                                alt="delete"
                                srcset="" class="ml-auto"
                                (click)="delete(user.tweetId)">
                            <img src="../../../assets/images/edit.png"
                                alt="edit" srcset="">
                        </div>
                    </div>
                </div>


                <p class="card-text">{{user.tweet}}</p>

            </div>
            <div class="card-header bg-light">
                <p *ngFor="let reply of user.replies|keyvalue">{{reply.key}}
                    Replied :
                    {{reply.value}}</p>
            </div>

        </div>

    </div>
</div>